Host vm1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/xichen/Project/vagrant_workshop/vm/.vagrant/machines/vm1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host vm2
  HostName 127.0.0.1
  User vagrant
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/xichen/Project/vagrant_workshop/vm/.vagrant/machines/vm2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

